/* styling variables that can be used to sub into the initial html replacements */
:root {
    --primaryclr: #6c52a2; 
    --secondaryclr: #9552a2;
    --tertiaryclr: #526ea2;
    /* these are just temporary colors to try and get things to trigger */
    --Cyan: #00FFFF;
    --LimeGreen: #32CD32;
    --Magenta: #FF00FF;
}

.container-active {
    background-color: #526ea2;
}

.searchBG {
   display: block;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: url(./audiocontrols.jpg)
}



